$fontBold: 'SFUIText-Bold';
$fontRegular: 'SFUIText-Regular';
$fontLight: 'SFUIText-Light';
$fontMedium: 'SFUIText-Medium';
  
@font-face {
    font-family: 'SFUIText-Bold';
    src: url('../assets/fonts/SFUIText-Bold/SFUIText-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/SFUIText-Bold/SFUIText-Bold.otf') format('opentype'),
        url('../assets/fonts/SFUIText-Bold/SFUIText-Bold.woff') format('woff'), url('../assets/fonts/SFUIText-Bold/SFUIText-Bold.ttf') format('truetype'), url('../assets/fonts/SFUIText-Bold/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText-Regular';
    src: url('../assets/fonts/SFUIText-Regular/SFUIText-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/SFUIText-Regular/SFUIText-Regular.otf') format('opentype'),
        url('../assets/fonts/SFUIText-Regular/SFUIText-Regular.woff') format('woff'), url('../assets/fonts/SFUIText-Regular/SFUIText-Regular.ttf') format('truetype'), url('../assets/fonts/SFUIText-Regular/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-Light';
    src: url('../assets/fonts/SFUIText-Light/SFUIText-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/SFUIText-Light/SFUIText-Light.otf') format('opentype'),
        url('../assets/fonts/SFUIText-Light/SFUIText-Light.woff') format('woff'), url('../assets/fonts/SFUIText-Light/SFUIText-Light.ttf') format('truetype'), url('../assets/fonts/SFUIText-Light/SFUIText-Light.svg#SFUIText-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText-Medium';
    src: url('../assets/fonts/SFUIText-Medium/SFUIText-Medium.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/SFUIText-Medium/SFUIText-Medium.otf') format('opentype'),
        url('../assets/fonts/SFUIText-Medium/SFUIText-Medium.woff') format('woff'), url('../assets/fonts/SFUIText-Medium/SFUIText-Medium.ttf') format('truetype'), url('../assets/fonts/SFUIText-Medium/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'full.scss';